<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../bootstrap.css" rel="stylesheet">
    <script src="../jquery.min.js"></script>
    <script src="../bootstrap.min.js"></script>
    <script src="../angular.min.js"></script>
	<style type="text/css">
		html {
			min-width: 1200px;
		}
		
		a {
			color: white;
			text-decoration: none;
		}
	</style>

    <script>
        var app=angular.module("myApp",[]);
        app.controller("myController",function ($http,$scope) {

            $scope.getLogin=function () {
                $http.get("../getLogin").success(function (response) {
                    if(response!=null){
                        $scope.user=response;
                    }
                })
            }
        })
    </script>
</head>
<body ng-app="myApp" ng-controller="myController" ng-init="getLogin()">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">


                    <div class="">
                        <div class="superlink" style="background-color:black;height: 100px">
                            <div style="width:100px;color: white;float: left;margin-right: 5px;margin-left:100px;">
                                <img src="../img/logo.png" width="100" height="100"> \
                            </div>
                            <div style="float:left;color: white;margin-right: 200px;">
                                <h2>
                                    <a href="">速安交通</a>
                                </h2><span style="color: white;">achnyan traff</span>
                            </div>
                            <div style="float:left;color: white;font-size: 15px;margin-top: 40px;margin-right: 4%;"><a href="/index.html">首页</a>
                            </div>
                            <div style="float:left;color: white;font-size: 15px;margin-top: 40px;margin-right: 4%;">
                                <li class="dropdown" style="background-color: black;list-style: none;">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="background:black;color: white ">在线下单<span
                                            class="glyphicon glyphicon-triangle-bottom" style="color: white;"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/driver/driverpulish.html">司机下单</a></li>
                                        <li><a href="/user/placeanorder.html">客户下单</a></li>
                                    </ul>
                                </li>
                            </div>
                            <div style="float:left;color: white;font-size: 15px;margin-top: 40px;margin-right: 4%;"><a href="/list.html">货源信息</a>
                            </div>
                            <div style="float:left;color: white;font-size: 15px;margin-top: 40px;margin-right: 4%"><a href="">常见问题</a>
                            </div>


                            <span ng-if="user.id==null">

             <div style="float:left;color: lawngreen;font-size: 15px;margin-top: 40px;margin-right: 50px;">  <a  href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-user"></span>
            <span class="glyphicon glyphicon-user"></span>登录/注册

                </a>

             </div>

        </span>

                            <span ng-if="user.id!=null">
           <div style="float:left;color: lawngreen;font-size: 15px;margin-top: 40px;margin-right: 50px;">
        <a  href="user/my.html">
            <span class="glyphicon glyphicon-user"></span>{{user.username}}，
         </a>
               你好！
       </div>

       </span>

                        </div>

                    </div>


                </div>

            </div>
            <div class="row">
                <div class="col-md-2">

                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="color: #953b39">
                        <div class="panel panel-default" style="color: #953b39">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        我的资料
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">

                                    <ul>
                                        <span ng-if="user.status==0">
                                        <li ng-if="user.usertype==0"><a href="st2.html" target="content" style="color: #1b6d85">完善资料(个人)</a></li>
                                        <li ng-if="user.usertype==1"><a href="st3.html" target="content" style="color: #1b6d85">完善资料(企业)</a></li>
                                        <li ng-if="user.usertype==2"><a href="st1.html" target="content" style="color: #1b6d85">完善资料(车主)</a></li>
                                        </span>

                                        <span ng-if="user.status==1">
                                        <li ng-if="user.usertype==0"><a href="st2_1_1.html" target="content" style="color: #1b6d85">审核中(个人)</a></li>
                                        <li ng-if="user.usertype==1"><a href="st3_1_1.html" target="content" style="color: #1b6d85">审核中(企业)</a></li>
                                        <li ng-if="user.usertype==2"><a href="st1_1_1.html" target="content" style="color: #1b6d85">审核中(车主)</a></li>
                                        </span>

                                        <span ng-if="user.status==2">

                                        <li ng-if="user.usertype==0"><a href="st2_1_1.html" target="content" style="color: #1b6d85">已审核资料(个人)</a></li>
                                        <li ng-if="user.usertype==1"><a href="st3_1_1.html" target="content" style="color: #1b6d85">已审核资料(企业)</a></li>
                                        <li ng-if="user.usertype==2"><a href="st1_1_1.html" target="content" style="color: #1b6d85">已审核资料(车主)</a></li>


                                        <li ng-if="user.usertype==0"><a href="st2_1.html" target="content" style="color: #1b6d85">重新审核(个人)</a></li>
                                        <li ng-if="user.usertype==1"><a href="st3_1.html" target="content" style="color: #1b6d85">重新审核(企业)</a></li>
                                        <li ng-if="user.usertype==2"><a href="st1_1.html" target="content" style="color: #1b6d85">重新审核(车主)</a></li>
                                        </span>





                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      我的订单
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="#">正在进行</a></li>
                                        <li><a href="#">交易完成</a></li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                       其他
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="col-md-10">

                    <iframe width="100%" height="600px" name="content">




                    </iframe>



                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>