<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/transform.css" />
		<link rel="stylesheet" type="text/css" href="../css/baiduMap.css" />
		<link rel="stylesheet" type="text/css" href="../css/bar.css" />
		<link rel="stylesheet" type="text/css" href="../css/dateTime.css" />



		<script src="../jquery.min.js"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=fvmUbS74pKoc6RA4jtk5sGy8cvCRIAjC"></script>


		<script src="../bootstrap.min.js"></script>
		<script src="../angular.min.js"></script>
		<title>下单</title>


		<script>
            var app=angular.module("myApp",[]);
            app.controller("orderController",function ($http,$scope,$timeout) {

                $scope.f=[false,false,false]
				$scope.order={};
                $scope.receiverpeople=[{name:'',linkphone:''}];


                $scope.addRece=function () {

                    $scope.receiverpeople.push({name:'',linkphone:''});

                }

                $scope.minusRece=function () {

                    $scope.receiverpeople.pop();

                }
                $scope.getLogin=function () {
                    $http.get("../getLogin").success(function (response) {
                        if(response!=null){
                            $scope.user=response;

                            if($scope.user.status==0){

                                alert("未审核，请先审核通过！")
								location="/user/my.html"
							 }
                            else {

                                $scope.f[0]=true;

                            }


                        }
                    })
                }

                $scope.getProvince=function () {
                    $http.get("/uploadImages/part.json").success(function (response) {
                        $scope.parts=response;
                        $scope.cartypes=response['cartypes'];
                    })
                };

               /* $scope.getPrice=function () {
                    $http.get("../data/price.json").success(function (response) {
                       $scope.price=response;
                    })
                };*/

                $scope.price={};

               $scope.$watch("order.cartype",function (newV,oldV) {


                   if(newV!=null){

                       for(var i=0;i<$scope.cartypes.length;i++){


                           if(newV==$scope.cartypes[i].name){

                               $scope.price=$scope.cartypes[i];

                               break;
                           }
                       }

                   }

               })

				$scope.commitOrder=function () {
                    $scope.order.uid=$scope.user.id;
                    $http.post("../company/pulish/save",$scope.order).success(function (response) {

                        if(response.flag) {

                            $scope.order.id = response.id;
                            $scope.order.createtime = response.createtime;
                            $scope.order.status = response.status;


                            for(var i=0;i<$scope.f.length;i++){

                                if(i==2){
                                    $scope.f[2]=true;
                                }
                                else {
                                    $scope.f[i]=false;
                                }
                            }

                            for(var i=0;i<3;i++){
                                if(i<=2){
                                    $("#st"+i).addClass("on");
                                }
                                else {
                                    $("#st"+i).removeClass("on")
                                }
                            }



                        }
                        else
                            alert(response.message)


                             })

                }

				$scope.next=function (st) {



                    if(st==1){
                        var beginplace=$("#from").val();
                        var endplace=$("#to").val();
                        distence();
                        $scope.order.fromaddress=beginplace;
                        $scope.order.toaddress=endplace;
                        $scope.order.receiverPeople="";
                        var recePeople="";
                        for(var i=0;i<$scope.receiverpeople.length;i++){
                            if(i==0)
                            recePeople=JSON.stringify($scope.receiverpeople[i]);
                            else
                                recePeople=recePeople+","+JSON.stringify($scope.receiverpeople[i]);
						}


                        for(var i=0;i<$scope.f.length;i++){

                            if(i==st){
                                $scope.f[st]=true;
                            }
                            else {
                                $scope.f[i]=false;
                            }
                        }
                        for(var i=0;i<3;i++){
                            if(i<=st){
                                $("#st"+i).addClass("on");
                            }
                            else {
                                $("#st"+i).removeClass("on")
                            }
                        }


                        $scope.order.receiverPeople=recePeople;
						$scope.flag=true;
						var aa=$timeout(function () {
						 var d= $("#dis").val();


						 var aaa=d.replace(/[^\d.]/g,"")

							if(aaa<$scope.price.startDistance)
							$scope.totalPrice=$scope.price.startPrice;
						    else {
						        $scope.totalPrice=$scope.price.startPrice+(aaa-$scope.price.startDistance)*$scope.price.average;
							}
                           $scope.order.accountprice=$scope.totalPrice;

                            $scope.flag=false;
                        },2000)


					 }
					if(st==2){//提交订单

					 var a=confirm("确认提交订单吗？")

						if(a)
                        $scope.commitOrder();
					    else
					        return;

					}
					if(st==0){



                        for(var i=0;i<$scope.f.length;i++){

                            if(i==st){
                                $scope.f[st]=true;
                            }
                            else {
                                $scope.f[i]=false;
                            }
                        }
                        for(var i=0;i<3;i++){
                            if(i<=st){
                                $("#st"+i).addClass("on");
                            }
                            else {
                                $("#st"+i).removeClass("on")
                            }
                        }
					}
                }
            })



		</script>

	</head>
	<body ng-app="myApp" ng-controller="orderController" ng-init="getProvince();getPrice();getLogin()">

	<div class="">
		<div class="superlink" style="background-color:black;height: 100px">
			<div style="width:100px;color: white;float: left;margin-right: 5px;margin-left:100px;">
				<img src="/img/logo.png" width="100" height="100"> \
			</div>
			<div style="float:left;color: white;margin-right: 200px;">
				<h2>
					<a href="">速安交通</a>
				</h2>
			</div>
			<div style="float:left;color: white;font-size: 15px;margin-top: 40px;margin-right: 4%;"><a href="/index.html">首页</a>
			</div>
			<div style="float:left;color: white;font-size: 15px;margin-top: 25px;margin-right: 4%;">
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="dropdown" style="background-color: black">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="background:black;color: white ">在线下单 <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu"  >
								<li><a href="/driver/driverpulish.html" >司机下单</a></li>
								<li><a href="/user/placeanorder.html">客户下单</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div style="float:left;color: white;font-size: 15px;margin-top: 40px;margin-right: 4%;"><a href="/list.html">货源信息</a>
			</div>
			<div style="float:left;color: white;font-size: 15px;margin-top: 40px;margin-right: 4%;"><a href="">司机加盟</a>
			</div>
			<div style="float:left;color: white;font-size: 15px;margin-top: 40px;margin-right: 4%;"><a href="">联系我们</a>
			</div>
			<div style="float:left;color: white;font-size: 15px;margin-top: 40px;margin-right: 4%"><a href="">常见问题</a>
			</div>


			<span ng-if="user.id==null">

             <div style="float:left;color: lawngreen;font-size: 15px;margin-top: 40px;margin-right: 50px;">  <a  href="#" data-toggle="modal" data-target="#myModal">
            登录

                </a>

             </div>

        </span>

			<span ng-if="user.id!=null">
           <div style="float:left;color: lawngreen;font-size: 15px;margin-top: 40px;margin-right: 50px;">
        <a  href="/user/my.html">
            {{user.username}}，
         </a>
               你好！
       </div>

       </span>

		</div>

	</div>

		<div class="passload">

			<div class="path">
				<ul>
					<li id="sto" class="first on"><span class="line"></span><span class="arr"></span><span class="txt"><button class="btn btn-info btn-sm" disabled>填写基本信息</button></span></li>
					<li id="st1" class="second"><span class="line"></span><span class="arr"></span><span class="txt"><button class="btn btn-info btn-sm" disabled>确认订单</button></span></li>
					<li id="st2" class="third"><span class="line"></span><span class="arr"></span><span class="txt"><button class="btn btn-info btn-sm" disabled>等待接单</button></span></li>
					<!--<li id="fourth" class="fourth"><span class="line"></span><span class="arr"></span><span class="txt">完成派单</span></li>
					<li id="fifth" class="fifth"><span class="line"></span><span class="arr"></span><span class="txt">上门服务</span></li>
					<li id="last" class="last"><span class="line"></span><span class="arr"></span><span class="txt">服务完成</span></li>-->
				</ul>
			</div>

		</div>


		<div ng-if="f[0]"><!-- 第一步 -->

		<div class="container register">


		<!--	<div class="register1">
				<div class="dliver">
					<div class="tips1">
						<p style="font-size:30px; align-content: center; text-align: center; color: white;">选择城市以及所需车辆</p>
					</div>
				</div>
				<div style="margin-top: 30px; margin-left: 25%;">

					<div >

						<div class="form-group">
							<label for="exampleInputEmail1">选择省市</label>
							<select class="form-control" ng-model="province" required>
								<option ng-repeat="(v,k) in parts">{{v}}</option>
							</select>
						</div>
						<div class="form-group" >
							<label for="exampleInputEmail1">选择城市</label>
							<select class="form-control" ng-model="order.city" required>
								<option ng-repeat="(v,k) in citys">{{k}}</option>
							</select>
						</div>
						<div class="form-group" >
							<label for="exampleInputEmail1">选择车型</label>
							<select class="form-control" required ng-model="order.cartype">
								<option ng-repeat="(v,k) in cartypes">{{k}}</option>
							</select>
						</div>


					</div>

					<div class="btn-group">



					</div>

				</div>

				<div style="margin-top: 30px; align-content: center; margin-left: 25%;">



				</div>
			</div>-->
			<div class="register2">
				<div class="dliver">
					<div class="tips2">
						<p style="font-size:30px; align-content: center; text-align: center; color: white;">发货信息</p>
					</div>
				</div>
				<div style="margin-top: 30px; width: 95%;">
					<form class="form-horizontal" role="form" style="margin-left:10%;">
						<div class="form-group">
							<label for="" class="col-sm-2 control-label">寄件人姓名</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="" placeholder="请输入姓名" ng-model="order.linkname">
							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-sm-2 control-label">寄件人电话</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="" placeholder="请输入电话号码" ng-model="order.linkphone">
							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-sm-2 control-label">货物名称</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="" placeholder="请输入货物名称" ng-model="order.goodsname">
							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-sm-2 control-label">货物价值(rmb)</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="1" placeholder="请输入货物价值" ng-model="order.goodsprice">
							</div>
						</div>

						<div class="form-group">
							<label for="" class="col-sm-2 control-label">货物长度(m)</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="2" placeholder="请输入货物长度" ng-model="order.goodslength">
							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-sm-2 control-label">货物宽度(m)</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="3" placeholder="请输入货物宽度" ng-model="order.goodswidth">
							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-sm-2 control-label">货物高度(m)</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="4" placeholder="请输入货物高度" ng-model="order.goodsheight">
							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-sm-2 control-label">货物重量(kg)</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="5" placeholder="请输入货物重量" ng-model="order.goodsweight">
							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-sm-2 control-label">货物数量</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="5" placeholder="请输入货物数量" ng-model="order.goodsamount">
							</div>
						</div>

						<div class="form-group" >
							<label for="exampleInputEmail1" class="col-sm-2 control-label">选择车型</label>
							<div class="col-sm-8">
							<select class="form-control" required ng-model="order.cartype">
								<option ng-repeat="(k,v) in cartypes">{{v.name}}</option>
							</select>
							</div>
							<span ng-if="order.cartype!=null">车长:{{price.length}} 车宽:{{price.width}} 车高:{{price.height}} 起步距离：{{price.startDistance}}(公里) 起步价(5公里内):{{price.startPrice}}  超里程价:{{price.average}}</span>
						</div>

						<div class="form-group">
							<label for="" class="col-sm-2 control-label">装货时间</label>
							<div class="col-sm-8">
								<input type="date" class="form-control" id="6" placeholder="请输入装货时间" ng-model="order.loadtime">
							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-sm-2 control-label">卸货时间</label>
							<div class="col-sm-8">
								<input type="date" class="form-control" id="7" placeholder="请输入卸货时间" ng-model="order.unloadtime">
							</div>
						</div>


						<div class="form-group" >
							<label for="" class="col-sm-2 control-label">寄货地址</label>
							<div class="col-sm-8">
								<div id="r-result"><input ng-model="order.fromaddress" type="text" id="from" size="20" placeholder="输入寄货地址" style="width:200px;" /></div>
							</div>
						</div>

						<div class="form-group" >
							<label for="" class="col-sm-2 control-label">收件地址</label>
							<div class="col-sm-8">
								<div id="r-result"><input ng-model="order.toaddress" type="text" id="to" size="20" placeholder="输入收货地址" style="width:200px;" /></div>
							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-md-2 control-label">是否开票</label>
							<div class="col-sm-10">
								<select ng-model="order.invoice" class="form-control">
									<option value="1">是</option>
									<option value="0">否</option>
								</select>



							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-md-2 control-label">货车要求</label>
							<div class="col-sm-10">
								<select ng-model="order.needtype" class="form-control">
									<option >整车</option>
									<option >零担</option>
								</select>


							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-md-2 control-label">支付方式</label>
							<div class="col-sm-10">

								<select ng-model="order.paytype" class="form-control">
									<option value="1">支付宝</option>
									<option value="2">微信</option>
									<option value="3">现金</option>
								</select>

							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-md-2 control-label">备注</label>
							<div class="col-sm-10">

								<textarea rows="3" class="form-control" ng-model="order.remark">


								</textarea>

							</div>
						</div>


					</form>
				</div>
			</div>
			<div class=" register3">
				<div class="dliver ">
					<div class="tips3" style="float: left;">
						<p style="font-size:30px; align-content: center; text-align: center; color: white;">收货信息</p>
					</div>
					<div style="float: left; margin-left: 5%; font-size: 20px; text-align: center; align-content: center;">
						<p class="text-muted">最多可添加5个收货人</p>
					</div>

					<div class="tool" style="float: right; width: 5%;">
					  <button ng-click="addRece()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
						<button ng-click="minusRece()"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
					</div>
				</div>
				<div style="margin-top: 30px; height: 200px;">

					<div>

					<form class="form-horizontal" role="form" style="float: left; width: 95%;">
						<div ng-repeat="(k,v) in receiverpeople">

						<div class="form-group" style="margin-left: 10%;">
							<label for="" class="col-sm-2 control-label">收货人({{k+1}})姓名</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="" placeholder="请输入姓名" ng-model="v.name">
							</div>
						</div>
						<div class="form-group" style="margin-left: 10%;">
							<label for="" class="col-sm-2 control-label">联系电话</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="" placeholder="请输入电话号码" ng-model="v.linkphone">
							</div>
						</div>

						</div>
					</form>

					</div>

				</div>



			</div>
			<div id="settle" style="width: 100%; border-top: 1px solid #d8e0e6; height: 250px;">
				<div class="" style="width: 60%; height: 200px; float: left; margin-top: 30px;"></div>
				<div id="" style=" height: 200px;width: 40%; float: left;  margin-top: 30px;">
					<ul style="font-size: 20px; align-content: center; list-style-type: none;">
						<li>预估里程:<span>公里</span></li>
						<li>车型:<span></span></li>
						<li>起步价:<span>元</span></li>
						<li>超里程费:<span>元</span></li>
						<li>预估费用:<span>元</span></li>
					</ul>
				</div>
			</div>
			<button type="submit" class=" btn btn-default" style="float: right; background-color: palegreen;" ng-click="next(0)">上一步
			<button type="submit" class=" btn btn-default" style="float: right; background-color: palegreen;" ng-click="next(1)">下一步
			</button>
		</div>

		</div>




		<div ng-if="f[1]"><!-- 第二部-->


			<div class="container order">
				<div class="order1" style="margin-top: 60px;">
					<div class="dliver">
						<div class="tips1">
							<p style="font-size:30px; align-content: center; text-align: center; color: white;">订单信息</p>
						</div>
					</div>

				</div>
				<div id="" class="starting">
					<div class="col-md-2">
						<p>出发地</p>
					</div>
					<div class="col-md-6">
						<p>{{order.fromaddress}}</p>
					</div>
					<div class="col-md-2">
						<p>寄件人：{{order.linkname}}</p>
					</div>
					<div class="col-md-2">
						<p>联系电话：{{order.linkphone}}</p>
					</div>
				</div>

				<div class="destination" >
					<div class="col-md-2">
						<p>目的地</p>
					</div>
					<div class="col-md-6">
						<p>{{order.toaddress}}</p>
					</div>


					<div class="col-md-2">
						<p>收件人(1)：{{receiverpeople[0].name}}</p>
					</div>
					<div class="col-md-2">
						<p>联系电话：{{receiverpeople[0].linkphone}}</p>
					</div>

				</div>

				<div id="" class="destination">
					<div class="col-md-2">
						<p>服务车型</p>
					</div>
					<div class="col-md-6">
						<p>{{order.cartype}}</p>
					</div>
				</div>

				<div id="" class="destination">
					<div class="col-md-2">
						<p>预估里程</p>
					</div>
					<div class="col-md-6">
						<p id="addin"></p>
					</div>
				</div>

				<div style="margin-top: 50px;height:250px">
					<div style="float: left; width: 60%; border-right: 1px solid dimgrey;">
						<div style="margin-left: 10%; height: 35px;">
							<div style="font-size:20px;float: left;">发货时间:</div>
							<div style="float: left;">
								<label class="input-group" style="float: left;">
									{{order.loadtime}}
								</label>
							</div>
						</div>
						<div style=" margin-left: 10%; margin-top: 30px;">
							总路程：<input id="dis" type="text" disabled v-show="false" >
							<p style="font-size: 20px;">预计里程费用:<span ng-if="!flag">￥{{totalPrice}}</span><span ng-if="flag">计算中...</span></p>
							自己估算费用：<input class="form-control" type="text" ng-model="order.assessedPrice">
							<p class="text-muted" style="font-size: 15px;">实际费可能因实际行驶里程/等候时间等因素而异</p>
						</div>
						<div style="margin-left: 10%;margin-top: 30px;">
							<button  class=" btn btn-default" style="float: right; background-color: palegreen;" ng-click="next(0)">上一步
							<button class="btn btn-info " ng-click="next(2)">确认提交订单</button>
						</div>
					</div>
					<div style="float: left; width: 30%;">
						<img src="../img/gzh.png" style="width: 100px; height: 100px;margin-left:30px ;">
						<p style="font-size: 25px; color: red;font-weight: 500; margin-top: 20px;">关注微信公众号</p>
						<p style="font-size: 20px; font-weight: 300;">享更多优惠</p>
					</div>
				</div>
			</div>

		</div>



		<div ng-if="f[2]"> <!--第三步-->

			<div class="receipt container">
				<div class="dliverreceipt">
					<div class="tips1">
						<div class="col-md-4 text-center" style="font-size:20px; align-content: center;  color: white; float: left; height: 100%;">
							<p style="margin-top:10px;">订单编号:{{order.id}}</p>
						</div>
						<div class="col-md-2 text-center" style="font-size:20px; align-content: center;  color: white; float: left;  height: 100%;">
							<p style="margin-top:10px;">状态:<span ng-if="order.status==1">等待接单</span><span ng-if="order.status==2">接单中</span></p>
						</div>
					</div>
				</div>
				<div class="text-center" style="height: 100px;">
					<p style="font-size: 30px; margin-top: 20px;">尊敬的用户，您的订单正在派送</p>
				</div>
			</div>
			<div class="container register" style="margin-top: 50px; border-radius: 15px;">
				<div style="border-top: 1px solid #999999 ;margin-bottom: 50px;">
					<div class="dliver">
						<div class="tips4">
							<p style="font-size:20px;text-align: center; color: white; ">订单信息</p>
						</div>
					</div>
					<div style="margin-top: 30px; width: 95%;">
						<div id="" style="margin-left:10%;">
							<p style="font-size: 20px;">装货时间:{{order.loadtime}}</p><br>
							<p style="font-size: 20px;">车型:{{order.cartype}}</p>
						</div>
					</div>
				</div>
				<div class="" style="border-top: 1px solid #999999;">
					<div class="dliver " style="margin-top: 20px;">
						<div style="float: left; font-size: 20px;  align-content: center;height: 100px; width: 100%;">
							<p style="margin-left: 15px;">发货信息</p>

						</div>
					</div>
					<div style="height: 200px;">
						<div id="" style="width: 50%;height: 100%; margin-left: 20%;">
							<ol style="list-style-type: none; font-size: 20px;">
								<li>始发地:{{order.fromaddress}}<li><br>
								<li>姓名:{{order.linkname}}</li><br>
								<li>电话:{{order.linkphone}}</li>
							</ol>
						</div>
					</div>
				</div>
				<div class="" style="border-top: 1px solid #999999; margin-top: 20px;" ng-repeat="(k,v) in receiverpeople">
					<div class="dliver " style="margin-top: 20px;">
						<div style="float: left; font-size: 20px;  align-content: center;height: 100px; width: 100%;">
							<p style="margin-left: 15px;">收货信息{{k+1}}</p>

						</div>
					</div>
					<div style="height: 200px;">
						<div id="" style="width: 50%;height: 100%; margin-left: 20%;">
							<ol style="list-style-type: none; font-size: 20px;">
								<li>始发地:{{order.fromaddress}}<li><br>
								<li>姓名:{{v.name}}</li><br>
								<li>电话:{{v.linkphone}}</li>
							</ol>
						</div>
					</div>
				</div>



				<div id="" style="width: 100%; border-top: 1px solid #999999; height: 250px; margin-top: 20px;">
					<div id="" style=" height: 200px;width: 40%; margin-top: 30px;">
						<ul style="font-size: 20px;text-align: center; list-style-type: none;">

							<li style="margin: 10px 0 ;">车型:<span>{{order.cartype}}</span></li>
							<li style="margin: 10px 0 ;">起步价:<span>{{price.startPrice}}</span></li>
							<li style="margin: 10px 0 ;">超里程费:<span>{{totalPrice-price.startPrice}}</span></li>
							<li style="margin: 10px 0 ;">预估费用:<span>{{totalPrice}}元</span></li>
						</ul>
					</div>
				</div>
			</div>





		</div>







		<div class="superlink" style="height: 300px;background-color:black; margin-top: 5px;">
			<div style="float:left; width: 20%; "><br><br>
				<div class="text-center">
					<div style="font-size:20px;color: white">
						<p>关于我们</p>
					</div>
					<div style="font-size:15px;color: #555555">
						<p><a href="">开发者关系</a></p>
					</div>
					<div style="font-size:15px;color: #555555">
						<p><a href="">发展历程</a></p>
					</div>
					<div style="font-size:15px;color:#555555">
						<p><a href="">新闻中心</a></p>
					</div>
					<div style="font-size:15px;color: #555555">
						<p><a href="">团队介绍</a></p>
					</div>
					<div style="font-size:15px;color: #555555">
						<p><a href="">加盟合作</a></p>
					</div>
					<div style="font-size:15px;color: #555555">
						<p><a href="">招贤纳士</a></p>
					</div>
				</div>
			</div>
			<div style=" float: left; border-left: 1px solid #c0c0c0;height: 270px; width: 20%;">
				<div class="text-center"><br><br>

					<div style="font-size:20px;color: white">
						<p>热门产品</p>
					</div>
					<div style="font-size:15px;color: #555555">
						<p><a href="">以租代够</a></p>
					</div>
				</div>
			</div>

			<div style="float:left;border-left: 1px solid #c0c0c0;height:150px; width: 20%;">
				<div class="text-center"><br><br>

					<div style="font-size:20px;color: white">
						<p>联系我们</p>
					</div>
					<div style="font-size:15px;color: #555555">
						<p><a href="">联系方式</a></p>
					</div>
					<div style="font-size:15px;color: #555555">
						<p><a href="">公司地图</a></p>
					</div>
					<div style="font-size:15px;color:#555555">
						<p><a href="">留言提交</a></p>
					</div>
					<div style="font-size:15px;color: #555555">
						<p><a href="">帮助中心</a></p>
					</div>
				</div>
			</div>
			<div style="float:left;border-left: 1px solid #c0c0c0;height:300px; width: 40%;">
				<div style="float:left; margin-left: 1.25rem; ">
					<div style="margin-top: 50px;color: white">
						<img src="../img/gzh.png" height="100px" width="100px"><br>官方公众号
					</div>
					<div style="color: white">
						<img src="../img/kfh.jpg" height="100px" width="100px"><br>官方客服
					</div>
				</div>
				<div style="float: left; color: white; float: left; width: 65%; margin-left: 50px; margin-top: 50px;"><img src="../img/fm_logo.png"
					 height="50px" width="45%"><br>
					<p>24小时服务热线：0813-8112271</p>
					<p>24小时投诉热线：18990053717</p>
					<p>周一至周五 &nbsp;&nbsp;&nbsp;周六至周日</p>
					<p> 9：00-21：00 &nbsp;&nbsp;&nbsp;9：00-18：00</p>
					<p>本网站所有图文内容均属速安交通有限责任公司版权所有</p>
					<p>蜀ICP备18036575号 Copyright@2007-2018 sounso.All Rights Reserved</p>

				</div>
			</div>

		</div>


		<script src="../js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/transform.js" type="text/javascript" charset="utf-8"></script>

		<div id="r-result"></div>
		<div id="l-map" style="display: none;"></div>
	</body>
</html>
<script src="../js/baiduMap.js"></script>