<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>认证</title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/transform.css" />
		<link rel="stylesheet" type="text/css" href="../css/bar.css"/>

		<script src="../jquery.min.js"></script>
		<script src="../bootstrap.min.js"></script>
		<script src="../angular.min.js"></script>
		<style type="text/css">
			html {
				min-width: 1200px;
			}
			
			a {
				color: white;
				text-decoration: none;
			}
		</style>
      
		<script>

            var app=angular.module("myApp",[]);
            app.controller("st1Controller",function ($http,$scope,$timeout) {

                $scope.parts={};
                $scope.f=[true,false,false,false]
				$scope.user={};
                $scope.cartypes=[];
                $scope.getProvince=function () {
                    $http.get("/uploadImages/part.json").success(function (response) {
                        $scope.parts=response;
                        $scope.cartypes=response['cartypes'];
                    })
                };


                $scope.$watch("user.province",function (n,o) {

                   $scope.citys=$scope.parts[n];


                })

                $scope.getLogin=function () {

                    $http.get("../getLogin").success(function (response) {
                        if(response!=null){
                            $scope.user2=response;

                            $http.get("/get/driverInfoById/"+response.userinfoid).success(function (response) {

                                $scope.user=response;

                            })


                        }
                    })

                }

                $scope.nextSt=function (st) {
                    $scope.f[st]=true;

                     if(st==0){

                         $('#step0').tab('show')

                         }
                    if(st==1){

                        $('#step1').tab('show')
						$("#second").addClass("on");

                    }
                    if(st==2){
                        var a=confirm("确认提交资料");

                        if(a){

                            $scope.uploadStatus=false;

                            $('#step2').tab('show')
                            $("#third").addClass("on");

                            var a = $timeout(function(){

								var ss1=    $scope.strLink(1,4);
                                var ss2=    $scope.strLink(5,6);
                                var ss3=    $scope.strLink(7,9);
                                var ss4=    $scope.strLink(10,11);

                                $scope.user.carimage=ss1;
                                $scope.user.idcartimage=ss2;
                                $scope.user.driverslicenseimage=ss3;
                                $scope.user.walkimages=ss4;


                                $http.post("./save1/update",$scope.user).success(function (response) {

                                    if(response.status){

                                        $scope.user2.userinfoid=response.data.id;
                                        $scope.user2.status=1;
                                        $http.post("./update",$scope.user2).success(function (response) {
                                            if(!response.status)
                                                alert("错误")
                                        })

                                    }
                                    else {
                                        alert(response.message)
                                    }
                                })

                                $scope.uploadStatus=true;

                            },6000);



                        }
                    }
                }

                $scope.imageUrl=[];

                $scope.judgeinf=function (start,end,ty,step){
                	for(var i=1;i<=6;i++){
                		if (document.getElementById("inf"+i).value==""){
                			alert("请完善所有信息！！");
                			return false;
						}
					}
                	$scope.commit(start,end,ty,step);
				}

                $scope.commit=function (start,end,ty,step) {
					for (var i=start;i<=end;i++) {
						if (document.getElementById("image"+i).value=="") {
							alert("请添加全部图片！！");
							return false;
						}
					}
                    var str="";
                    for(var i=start;i<=end;i++){

                        $scope.uploadFile(i,ty)
					}
					$scope.nextSt(step);
                }
                $scope.strLink=function (start,end) {

                    var str="";
                    for(var i=start;i<=end;i++){

                        if(i==start)
                        str=$scope.imageUrl[i];
                        else {
                            str=str+","+$scope.imageUrl[i];
						}
                    }
                    return str;

                }

                $scope.uploadStatus=false;
                $scope.uploadFile=function(el,ty){
                    var formData=new FormData();
                    formData.append('file',$("#image"+el)[0].files[0]);//file 文件上传框的NAME
                    $http({
                        method:'POST',
                        url:"../upload",
                        data: formData,
                        headers: {'Content-Type':undefined},
                        transformRequest: angular.identity//对表单进行二进制序列化
                    }).success(
                        function(response){
                            if(response.status){
                                $scope.imageUrl[el]=response.data;
                            }else{
                                alert("上传失败！....");
                            }
                        }
                    ).error(
                        function(){
                            alert("上传出错！");
				}
                    );
                };

            })

			//点击同意之后才能进行下一步
            function allow(checkbox) {
                if (checkbox.checked){
                    document.getElementById("next").removeAttribute("disabled");
                }else {
                    document.getElementById("next").disabled="false";
                }
            }
		</script>

	</head>
	<body ng-app="myApp" ng-controller="st1Controller" ng-init="getProvince();getLogin();">

		<div class="passload">

			<div class="path">
				<ul style="list-style: none;">
					<li id="first" class="first on"><span class="line"></span><span class="arr"></span><span class="txt">填写基本信息</span></li>
					<li id="second" class="second"><span class="line"></span><span class="arr"></span><span class="txt">上传文件</span></li>
					<li id="third" class="last"><span class="line"></span><span class="arr"></span><span class="txt">等待审核</span></li>
					<!--<li id="fourth" class="fourth"><span class="line"></span><span class="arr"></span><span class="txt">完成派单</span></li>
					<li id="fifth" class="fifth"><span class="line"></span><span class="arr"></span><span class="txt">上门服务</span></li>
					<li id="last" class="last"><span class="line"></span><span class="arr"></span><span class="txt">服务完成</span></li>-->
				</ul>
				<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist" ng-show="false">
				<li role="presentation" class="active"><a href="#st0" aria-controls="home" role="tab" data-toggle="tab" ng-show="f[0]" id="step0" disabled>填写信息</a></li>
				<li role="presentation"><a href="#st1" aria-controls="profile" role="tab" data-toggle="tab" ng-show="f[1]" id="step1" disabled>上传证件</a></li>
				<li role="presentation"><a href="#st2" aria-controls="messages" role="tab" data-toggle="tab" ng-show="f[2]" id="step2" >成功</a></li>
			</ul>


		</div>

		<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="st0">

				<div class="container register">
					<div class="register1">
						<div class="dliver">
							<div class="tips1">
								<p style="font-size:30px; align-content: center; text-align: center; color: white;">选择城市以及车型</p>
							</div>
						</div>
						<div style="margin-top: 30px; margin-left: 25%;">



							<div class="form-group">
								<label for="exampleInputEmail1">选择省市</label>
								<select  id="inf1" class="form-control" ng-model="user.province" required>
									<option ng-repeat="(v,k) in parts">{{v}}</option>
								</select>
							</div>
							<div class="form-group" >
								<label for="exampleInputEmail1">选择城市</label>
								<select id="inf2" class="form-control" ng-model="user.city" required>
									<option ng-repeat="(v,k) in citys">{{k}}</option>
								</select>
							</div>
							<div class="form-group" >
								<label for="exampleInputEmail1">选择车型</label>
								<select id="inf3" class="form-control" required ng-model="user.cartype">
									<option ng-repeat="(v,k) in cartypes">{{k.name}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="register2">
						<div class="dliver">
							<div class="tips2">
								<p style="font-size:30px; align-content: center; text-align: center; color: white;">完善信息</p>
							</div>
						</div>
						<div style="margin-top: 30px;">
							<form class="form-horizontal" role="form" style="margin-left:15%;">
								<div class="form-group">
									<label for="" class="col-sm-2 control-label">真实姓名</label>
									<div class="col-sm-10">
										<input type="text" required class="form-control" id="inf4" placeholder="请输入名字" ng-model="user.realname">
									</div>
								</div>
								<div class="form-group">
									<label for="" class="col-sm-2 control-label">联系电话</label>
									<div class="col-sm-10">
										<input type="text" required class="form-control" id="inf5" placeholder="请输入电话号码" ng-model="user.phone">
									</div>
								</div>
								<div class="form-group">
									<label for="" class="col-sm-2 control-label">车牌号</label>
									<div class="col-sm-10">
										<input type="text" required class="form-control" id="inf6" placeholder="请输入车牌号" ng-model="user.carnumber">
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="register3">
						<div class="dliver">
							<div class="tips3">
								<p style="font-size:30px; align-content: center; text-align: center; color: white;">上传车辆照片</p>
							</div>
						</div>
						<div>
							<form>
								<div id="page">
									<div class="wrap-custom-file">
										<input type="file" required name="image1" id="image1" accept=".gif, .jpg, .png" />
										<label for="image1">
											<span ng-click="commit()">点击上传正面照片</span>
											<i class="fa fa-plus-circle"></i>
										</label>
									</div>

									<div class="wrap-custom-file">
										<input type="file" required name="image2" id="image2" accept=".gif, .jpg, .png" />
										<label for="image2">
											<span>点击上传左侧照片</span>
											<i class="fa fa-plus-circle"></i>
										</label>
									</div>

									<div class="wrap-custom-file">
										<input type="file" required name="image3" id="image3" accept=".gif, .jpg, .png" />
										<label for="image3">
											<span>点击上传右侧照片</span>
											<i class="fa fa-plus-circle"></i>
										</label>
									</div>

									<div class="wrap-custom-file">
										<input type="file" required name="image4" id="image4" accept=".gif, .jpg, .png" />
										<label for="image4">
											<span>点击上传车尾照片</span>
											<i class="fa fa-plus-circle"></i>
										</label>
									</div>

								</div>
								<button type="submit" class=" btn btn-default" style="float: right; background-color: palegreen;" ng-click="judgeinf(1,4,0,1)">下一步</button>
							</form>


						</div>
					</div>
				</div>


			</div>

			<div role="tabpanel" class="tab-pane fade" id="st1">


				<div class="container register">
					<div class="register1">
						<div class="dliver">
							<div class="tips1">
								<p style="font-size:30px; align-content: center; text-align: center; color: white;">上传身份证</p>
							</div>
						</div>
						<div id="page">
							<div class="wrap-custom-file" style="margin-right: 60px;">
								<input type="file" required name="image1" id="image5" accept=".gif, .jpg, .png" />
								<label for="image5">
									<span>点击上传身份证正面照片</span>
									<i class="fa fa-plus-circle"></i>
								</label>
							</div>

							<div class="wrap-custom-file" style="margin-left: 60px;">
								<input type="file" required name="image2" id="image6" accept=".gif, .jpg, .png" />
								<label for="image6">
									<span>点击上传身份证背面照片</span>
									<i class="fa fa-plus-circle"></i>
								</label>
							</div>
						</div>
					</div>
					<div class="register2">
						<div class="dliver">
							<div class="tips2">
								<p style="font-size:30px; align-content: center; text-align: center; color: white;">上传驾驶证</p>
							</div>
						</div>
						<div id="page">
							<div class="wrap-custom-file" style="margin-right: 60px;">
								<input type="file" required name="image1" id="image7" accept=".gif, .jpg, .png" />
								<label for="image7">
									<span>点击上传驾驶证封面</span>
									<i class="fa fa-plus-circle"></i>
								</label>
							</div>

							<div class="wrap-custom-file">
								<input type="file" required name="image2" id="image8" accept=".gif, .jpg, .png" />
								<label for="image8">
									<span>点击上传驾驶证左面</span>
									<i class="fa fa-plus-circle"></i>
								</label>
							</div>
							<div class="wrap-custom-file" style="margin-left: 60px;">
								<input type="file" required name="image2" id="image9" accept=".gif, .jpg, .png" />
								<label for="image9">
									<span>点击上传驾驶证右面</span>
									<i class="fa fa-plus-circle"></i>
								</label>
							</div>
						</div>
					</div>

					<div class="register3">
						<div class="dliver">
							<div class="tips3">
								<p style="font-size:30px; align-content: center; text-align: center; color: white;">上传行驶证</p>
							</div>
						</div>
						<div id="page">
							<div class="wrap-custom-file" style="margin-right: 60px;">
								<input type="file"  required name="image1" id="image10" accept=".gif, .jpg, .png" />
								<label for="image10">
									<span>点击上传行驶证照片</span>
									<i class="fa fa-plus-circle"></i>
								</label>
							</div>

							<div class="wrap-custom-file" style="margin-left: 60px;">
								<input type="file" required name="image2" id="image11" accept=".gif, .jpg, .png" />
								<label for="image11">
									<span>点击上传行驶证照片</span>
									<i class="fa fa-plus-circle"></i>
								</label>
							</div>

						</div>
						<div class="checkbox" style="align-content: center; text-align: center;">
							<label>
								<input type="checkbox" onclick="allow(this)"> 我同意<a href="" style="color: #1b6d85">《xxx协议》</a>大大大
							</label>
						</div>
						<button id="next" disabled="false" type="submit" class=" btn btn-default" style="float: right; background-color: palegreen;"  ng-click="commit(5,6,1);commit(7,9,2);commit(10,11,3,2)">下一步</button>
						</form>
					</div>
				</div>




			</div>
			<div role="tabpanel" class="tab-pane fade" id="st2">


				<div class="container " style="height: 40%; background-color: #f6f6f6;" ng-if="uploadStatus">
					<div style=" ">
						<img src="../img/success.jpg" style="height: 300px;" class="center-block">
					</div>
					<div id="" style="border: 2px solid green; width: 30%; margin-top: 50px; font-size: 15px;" class="center-block text-center">
						<p>提交成功！</p>
						<p>请耐心等待审核！</p>
					</div>
					<div class="text-center" style="margin-top: 30px; font-size: 20px;">
						<a style="margin-right: 100px;  color:red;text-decoration: none;" href="./my.html">返回首页</a><a style="margin-left: 100px;  color:red;text-decoration: none;" href="">继续查看</a>
					</div>
				</div>
				<div class="container " style="height: 40%; background-color: #f6f6f6;" ng-if="!uploadStatus">

					<div id="" style="border: 2px solid green; width: 30%; margin-top: 50px; font-size: 15px;" class="center-block text-center">
						<p>正在提交！</p>
						<p>请耐心等待！</p>
					</div>

				</div>



			</div>
			<div role="tabpanel" class="tab-pane fade" id="st4">


				4
			</div>
		</div>
			<script src="../js/transform.js" type="text/javascript" charset="utf-8"></script>
		</div>
	</body>
</html>
