<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>认证</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../css/transform.css" />

	<script src="../jquery.min.js"></script>
	<script src="../bootstrap.min.js"></script>
	<script src="../angular.min.js"></script>

	<style>

		.path{ height: 120px; clear: both;color: #ededed}
		.path ul{ width: 1200px; margin: 0 auto;}
		.path li{ float: left; width: 183px; color: #666; font-size: 16px; position: relative; height: 120px;}
		.path li .line{ display: block; position: absolute; top:44px; left: 0; width: 100%; height: 4px; overflow: hidden;font-size: 0; background: #ccc;}
		.path li .arr{ background: url(../images/ico-arr01.png); no-repeat; display: block; position: absolute; top:35px; right: 0; width: 20px; height: 20px; overflow: hidden; }
		.path li .txt{ position: relative; top:70px; width:183px; right: -80px; display: block; text-align: center;}
		.path li.first{ width: 154px;}
		.path li.first .line{ border-radius: 3px 0 0 3px;}
		.path li.first .txt{ width: 154px; right:-66px;}
		.path li.last{ width: 314px;}
		.path li.last .line{ border-radius: 0 3px 3px 0;}
		.path li.last .arr{ left: 183px; right:auto;}
		.path li.on{ color:#e5454a;}
		.path li.on .line{ background: #e5454a;}
		.path li.on .arr{ background-position:0 -20px;}
		.path li.on .txt{ color: #e5454a;}
		.path li.first.on .txt{ width: 154px;}
		.path li.last .txt{ right:-104px;}

	</style>
	<script>

        var app=angular.module("myApp",[]);
        app.controller("st1Controller",function ($http,$scope,$timeout) {

            $scope.parts={};
            $scope.f=[true,false,false,false]
            $scope.user={};
            $scope.cartypes=[];
            $scope.getProvince=function () {
                $http.get("/uploadImages/part.json").success(function (response) {
                    $scope.parts=response;
                    $scope.cartypes=response['cartypes'];
                })
            };

            $scope.$watch("user.province",function (n,o) {
                $scope.citys=$scope.parts[n];
            })
            $("#second").addClass("on");
            $("#third").addClass("on");

            $scope.getLogin=function () {

                $http.get("../getLogin").success(function (response) {
                    if(response!=null){

                        $scope.user2=response;
                        $http.get("/get/peopleInfoById/"+response.userinfoid).success(function (response) {

                            $scope.user=response;

                            var ss2;
                            ss2=$scope.user.idcartimageurl;
                            var a= ss2.split(",");
                            for(var i=5;i<=6;i++){


                                $("#Im"+i).addClass('file-ok');
                                $("#Im"+i).css('background-image', 'url(/' + a[i-5] + ')');

							}


                        })

                    }
                })

            }

            $scope.nextSt=function (st) {
                $scope.f[st]=true;

                if(st==0){

                    $('#step0').tab('show')

                }
                if(st==1){

                    var a=confirm("确认提交资料");

                    if(a){

                        $scope.uploadStatus=false;

                        $('#step1').tab('show')
                        $("#third").addClass("on");

                        var a = $timeout(function(){
                            var ss2= $scope.strLink(4,5);
                            $scope.user.idcartimageurl=ss2;
                            $http.post("./save2/update",$scope.user).success(function (response) {
                                if(response.status){
                                    $scope.user2.userinfoid=response.data.id;
                                    $http.post("./update",$scope.user2).success(function (response) {
                                        if(!response.status)
                                            alert("错误")
                                    })
                                }
                                else {
                                    alert(response.message)
                                }
                            })
                            $scope.uploadStatus=true;
                        },6000);
                    }
                }
            }

            $scope.imageUrl=[];
            $scope.commit=function (start,end,ty,step) {
            	for(var i=1;i<=5;i++){
					if(document.getElementById("inf"+i).value==""){
						alert("请完善所有信息！！");
						return false;
					}
				}
				for (var i=start;i<=end;i++) {
					if (document.getElementById("image"+i).value=="") {
						alert("请添加全部图片！！");
						return false;
					}
				}
                var str="";
                for(var i=start;i<=end;i++){

                    $scope.uploadFile(i,ty)
                }
				$scope.nextSt(step);
            }
            $scope.strLink=function (start,end) {

                var str="";
                for(var i=start;i<=end;i++){

                    if(i==start)
                        str=$scope.imageUrl[i];
                    else {
                        str=str+","+$scope.imageUrl[i];
                    }
                }
                return str;

            }

            $scope.uploadStatus=false;
            $scope.uploadFile=function(el,ty){

                var formData=new FormData();
                formData.append('file',$("#image"+el)[0].files[0]);//file 文件上传框的NAME
                $http({
                    method:'POST',
                    url:"../upload",
                    data: formData,
                    headers: {'Content-Type':undefined},
                    transformRequest: angular.identity//对表单进行二进制序列化
                }).success(
                    function(response){
                        if(response.status){
                            $scope.imageUrl[el]=response.data;
                        }else{
                            alert("上传失败！");
                        }
                    }
                ).error(
                    function(){
                        alert("上传出错！");
                    }
                );
            };

        })
		//点击同意之后才能进行下一步
		function allow(checkbox) {
			if (checkbox.checked){
				document.getElementById("next").removeAttribute("disabled");
			}else {
				document.getElementById("next").disabled="false";
			}
		}

	</script>

</head>
<body ng-app="myApp" ng-controller="st1Controller" ng-init="getProvince();getLogin();">

<div class="passload">

	<div class="path">
		<ul>
			<li id="first" class="first on"><span class="line"></span><span class="arr"></span><span class="txt">填写基本信息</span></li>
			<li id="third" class="third"><span class="line"></span><span class="arr"></span><span class="txt">等待审核</span></li>
			<!--<li id="fourth" class="fourth"><span class="line"></span><span class="arr"></span><span class="txt">完成派单</span></li>
            <li id="fifth" class="fifth"><span class="line"></span><span class="arr"></span><span class="txt">上门服务</span></li>
            <li id="last" class="last"><span class="line"></span><span class="arr"></span><span class="txt">服务完成</span></li>-->
		</ul>
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist" ng-show="false">
			<li role="presentation" class="active"><a href="#st0" aria-controls="home" role="tab" data-toggle="tab" ng-show="f[0]" id="step0" disabled>填写信息</a></li>
			<li role="presentation"><a href="#st1" aria-controls="profile" role="tab" data-toggle="tab" ng-show="f[1]" id="step1" disabled>等待审核</a></li>
		</ul>


	</div>

	<div class="tab-content">


		<div role="tabpanel" class="tab-pane fade in active" id="st0">

			<div class="container register">
				<div class="register1">
					<div class="dliver">
						<div class="tips1">
							<p style="font-size:30px; align-content: center; text-align: center; color: white;">选择城市</p>
						</div>
					</div>
					<div style="margin-top: 30px; margin-left: 25%;">


						<div class="form-group">
							<label for="exampleInputEmail1">选择省市</label>
							<select id="inf1" class="form-control" ng-model="user.province" required>
								<option ng-repeat="(v,k) in parts">{{v}}</option>
							</select>
						</div>
						<div class="form-group" >
							<label for="exampleInputEmail1">选择城市</label>
							<select id="inf2" class="form-control" ng-model="user.city" required>
								<option ng-repeat="(v,k) in citys">{{k}}</option>
							</select>
						</div>
						<div class="form-group" >
							<label for="exampleInputEmail2">居住地</label>
							<input id="inf3" ng-model="user.address" type="text" class="form-control">
						</div>

					</div>
				</div>
				<div class="register2">
					<div class="dliver">
						<div class="tips2">
							<p style="font-size:30px; align-content: center; text-align: center; color: white;">完善信息</p>
						</div>
					</div>
					<div style="margin-top: 30px;">
						<form class="form-horizontal" role="form" style="margin-left:25%;">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label">真实姓名</label>
								<div class="col-sm-10">
									<input type="text" id="inf4" required class="form-control" id="" placeholder="请输入名字" ng-model="user.realname">
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-sm-2 control-label">联系电话</label>
								<div class="col-sm-10">
									<input type="text" id="inf5" required class="form-control" id="" placeholder="请输入电话号码" ng-model="user.phone">
								</div>

							</div>
						</form>
					</div>
				</div>

				<div class="register1">
					<div class="dliver">
						<div class="tips1">
							<p style="font-size:30px; align-content: center; text-align: center; color: white;">身份证</p>
						</div>
					</div>
					<div id="page">
						<div class="wrap-custom-file" style="margin-right: 60px;">

							<label for="image5" id="Im5">
								<span>身份证正面照片</span>
								<i class="fa fa-plus-circle"></i>
							</label>
						</div>

						<div class="wrap-custom-file" style="margin-left: 60px;">

							<label for="image6" id="Im6" >
								<span>身份证背面照片</span>
								<i class="fa fa-plus-circle"></i>
							</label>
						</div>
					</div>
				</div>


			</div>

		</div>




	</div>

	<script src="../js/transform.js" type="text/javascript" charset="utf-8"></script>
</div>
</body>
</html>
