<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pps.suanjiaotyong.mapper.CompanypublishMapper" >
  <resultMap id="BaseResultMap" type="com.pps.suanjiaotyong.pojo.Companypublish" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="linkName" property="linkname" jdbcType="VARCHAR" />
    <result column="linkPhone" property="linkphone" jdbcType="VARCHAR" />
    <result column="goodsName" property="goodsname" jdbcType="VARCHAR" />
    <result column="goodsLength" property="goodslength" jdbcType="DOUBLE" />
    <result column="goodsHeight" property="goodsheight" jdbcType="DOUBLE" />
    <result column="goodsWidth" property="goodswidth" jdbcType="DOUBLE" />
    <result column="goodsWeight" property="goodsweight" jdbcType="DOUBLE" />
    <result column="goodsAmount" property="goodsamount" jdbcType="INTEGER" />
    <result column="needType" property="needtype" jdbcType="VARCHAR" />
    <result column="carType" property="cartype" jdbcType="VARCHAR" />
    <result column="fromaddress" property="fromaddress" jdbcType="VARCHAR" />
    <result column="toaddress" property="toaddress" jdbcType="VARCHAR" />
    <result column="loadtime" property="loadtime" jdbcType="TIMESTAMP" />
    <result column="unloadtime" property="unloadtime" jdbcType="TIMESTAMP" />
    <result column="goodsPrice" property="goodsprice" jdbcType="DOUBLE" />
    <result column="accountPrice" property="accountprice" jdbcType="DECIMAL" />
    <result column="assessedPrice" property="assessedprice" jdbcType="DOUBLE" />
    <result column="invoice" property="invoice" jdbcType="INTEGER" />
    <result column="payType" property="paytype" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="lever" property="lever" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pps.suanjiaotyong.pojo.CompanypublishWithBLOBs" extends="BaseResultMap" >
    <result column="remark" property="remark" jdbcType="LONGVARCHAR" />
    <result column="receiverPeople" property="receiverpeople" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, uid, linkName, linkPhone, goodsName, goodsLength, goodsHeight, goodsWidth, goodsWeight, 
    goodsAmount, needType, carType, fromaddress, toaddress, loadtime, unloadtime, goodsPrice, 
    accountPrice, assessedPrice, invoice, payType, createtime, status, lever
  </sql>
  <sql id="Blob_Column_List" >
    remark, receiverPeople
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.pps.suanjiaotyong.pojo.CompanypublishExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from companypublish
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pps.suanjiaotyong.pojo.CompanypublishExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from companypublish
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from companypublish
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from companypublish
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pps.suanjiaotyong.pojo.CompanypublishExample" >
    delete from companypublish
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pps.suanjiaotyong.pojo.CompanypublishWithBLOBs" >
    insert into companypublish (id, uid, linkName, 
      linkPhone, goodsName, goodsLength, 
      goodsHeight, goodsWidth, goodsWeight, 
      goodsAmount, needType, carType, 
      fromaddress, toaddress, loadtime, 
      unloadtime, goodsPrice, accountPrice, 
      assessedPrice, invoice, payType, 
      createtime, status, lever, 
      remark, receiverPeople)
    values (#{id,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER}, #{linkname,jdbcType=VARCHAR}, 
      #{linkphone,jdbcType=VARCHAR}, #{goodsname,jdbcType=VARCHAR}, #{goodslength,jdbcType=DOUBLE}, 
      #{goodsheight,jdbcType=DOUBLE}, #{goodswidth,jdbcType=DOUBLE}, #{goodsweight,jdbcType=DOUBLE}, 
      #{goodsamount,jdbcType=INTEGER}, #{needtype,jdbcType=VARCHAR}, #{cartype,jdbcType=VARCHAR}, 
      #{fromaddress,jdbcType=VARCHAR}, #{toaddress,jdbcType=VARCHAR}, #{loadtime,jdbcType=TIMESTAMP}, 
      #{unloadtime,jdbcType=TIMESTAMP}, #{goodsprice,jdbcType=DOUBLE}, #{accountprice,jdbcType=DECIMAL}, 
      #{assessedprice,jdbcType=DOUBLE}, #{invoice,jdbcType=INTEGER}, #{paytype,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{lever,jdbcType=INTEGER}, 
      #{remark,jdbcType=LONGVARCHAR}, #{receiverpeople,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pps.suanjiaotyong.pojo.CompanypublishWithBLOBs" >
    insert into companypublish
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="linkname != null" >
        linkName,
      </if>
      <if test="linkphone != null" >
        linkPhone,
      </if>
      <if test="goodsname != null" >
        goodsName,
      </if>
      <if test="goodslength != null" >
        goodsLength,
      </if>
      <if test="goodsheight != null" >
        goodsHeight,
      </if>
      <if test="goodswidth != null" >
        goodsWidth,
      </if>
      <if test="goodsweight != null" >
        goodsWeight,
      </if>
      <if test="goodsamount != null" >
        goodsAmount,
      </if>
      <if test="needtype != null" >
        needType,
      </if>
      <if test="cartype != null" >
        carType,
      </if>
      <if test="fromaddress != null" >
        fromaddress,
      </if>
      <if test="toaddress != null" >
        toaddress,
      </if>
      <if test="loadtime != null" >
        loadtime,
      </if>
      <if test="unloadtime != null" >
        unloadtime,
      </if>
      <if test="goodsprice != null" >
        goodsPrice,
      </if>
      <if test="accountprice != null" >
        accountPrice,
      </if>
      <if test="assessedprice != null" >
        assessedPrice,
      </if>
      <if test="invoice != null" >
        invoice,
      </if>
      <if test="paytype != null" >
        payType,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="lever != null" >
        lever,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="receiverpeople != null" >
        receiverPeople,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="linkname != null" >
        #{linkname,jdbcType=VARCHAR},
      </if>
      <if test="linkphone != null" >
        #{linkphone,jdbcType=VARCHAR},
      </if>
      <if test="goodsname != null" >
        #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="goodslength != null" >
        #{goodslength,jdbcType=DOUBLE},
      </if>
      <if test="goodsheight != null" >
        #{goodsheight,jdbcType=DOUBLE},
      </if>
      <if test="goodswidth != null" >
        #{goodswidth,jdbcType=DOUBLE},
      </if>
      <if test="goodsweight != null" >
        #{goodsweight,jdbcType=DOUBLE},
      </if>
      <if test="goodsamount != null" >
        #{goodsamount,jdbcType=INTEGER},
      </if>
      <if test="needtype != null" >
        #{needtype,jdbcType=VARCHAR},
      </if>
      <if test="cartype != null" >
        #{cartype,jdbcType=VARCHAR},
      </if>
      <if test="fromaddress != null" >
        #{fromaddress,jdbcType=VARCHAR},
      </if>
      <if test="toaddress != null" >
        #{toaddress,jdbcType=VARCHAR},
      </if>
      <if test="loadtime != null" >
        #{loadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="unloadtime != null" >
        #{unloadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsprice != null" >
        #{goodsprice,jdbcType=DOUBLE},
      </if>
      <if test="accountprice != null" >
        #{accountprice,jdbcType=DECIMAL},
      </if>
      <if test="assessedprice != null" >
        #{assessedprice,jdbcType=DOUBLE},
      </if>
      <if test="invoice != null" >
        #{invoice,jdbcType=INTEGER},
      </if>
      <if test="paytype != null" >
        #{paytype,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="lever != null" >
        #{lever,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="receiverpeople != null" >
        #{receiverpeople,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pps.suanjiaotyong.pojo.CompanypublishExample" resultType="java.lang.Integer" >
    select count(*) from companypublish
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update companypublish
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.linkname != null" >
        linkName = #{record.linkname,jdbcType=VARCHAR},
      </if>
      <if test="record.linkphone != null" >
        linkPhone = #{record.linkphone,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsname != null" >
        goodsName = #{record.goodsname,jdbcType=VARCHAR},
      </if>
      <if test="record.goodslength != null" >
        goodsLength = #{record.goodslength,jdbcType=DOUBLE},
      </if>
      <if test="record.goodsheight != null" >
        goodsHeight = #{record.goodsheight,jdbcType=DOUBLE},
      </if>
      <if test="record.goodswidth != null" >
        goodsWidth = #{record.goodswidth,jdbcType=DOUBLE},
      </if>
      <if test="record.goodsweight != null" >
        goodsWeight = #{record.goodsweight,jdbcType=DOUBLE},
      </if>
      <if test="record.goodsamount != null" >
        goodsAmount = #{record.goodsamount,jdbcType=INTEGER},
      </if>
      <if test="record.needtype != null" >
        needType = #{record.needtype,jdbcType=VARCHAR},
      </if>
      <if test="record.cartype != null" >
        carType = #{record.cartype,jdbcType=VARCHAR},
      </if>
      <if test="record.fromaddress != null" >
        fromaddress = #{record.fromaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.toaddress != null" >
        toaddress = #{record.toaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.loadtime != null" >
        loadtime = #{record.loadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.unloadtime != null" >
        unloadtime = #{record.unloadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.goodsprice != null" >
        goodsPrice = #{record.goodsprice,jdbcType=DOUBLE},
      </if>
      <if test="record.accountprice != null" >
        accountPrice = #{record.accountprice,jdbcType=DECIMAL},
      </if>
      <if test="record.assessedprice != null" >
        assessedPrice = #{record.assessedprice,jdbcType=DOUBLE},
      </if>
      <if test="record.invoice != null" >
        invoice = #{record.invoice,jdbcType=INTEGER},
      </if>
      <if test="record.paytype != null" >
        payType = #{record.paytype,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.lever != null" >
        lever = #{record.lever,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.receiverpeople != null" >
        receiverPeople = #{record.receiverpeople,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update companypublish
    set id = #{record.id,jdbcType=VARCHAR},
      uid = #{record.uid,jdbcType=INTEGER},
      linkName = #{record.linkname,jdbcType=VARCHAR},
      linkPhone = #{record.linkphone,jdbcType=VARCHAR},
      goodsName = #{record.goodsname,jdbcType=VARCHAR},
      goodsLength = #{record.goodslength,jdbcType=DOUBLE},
      goodsHeight = #{record.goodsheight,jdbcType=DOUBLE},
      goodsWidth = #{record.goodswidth,jdbcType=DOUBLE},
      goodsWeight = #{record.goodsweight,jdbcType=DOUBLE},
      goodsAmount = #{record.goodsamount,jdbcType=INTEGER},
      needType = #{record.needtype,jdbcType=VARCHAR},
      carType = #{record.cartype,jdbcType=VARCHAR},
      fromaddress = #{record.fromaddress,jdbcType=VARCHAR},
      toaddress = #{record.toaddress,jdbcType=VARCHAR},
      loadtime = #{record.loadtime,jdbcType=TIMESTAMP},
      unloadtime = #{record.unloadtime,jdbcType=TIMESTAMP},
      goodsPrice = #{record.goodsprice,jdbcType=DOUBLE},
      accountPrice = #{record.accountprice,jdbcType=DECIMAL},
      assessedPrice = #{record.assessedprice,jdbcType=DOUBLE},
      invoice = #{record.invoice,jdbcType=INTEGER},
      payType = #{record.paytype,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=INTEGER},
      lever = #{record.lever,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=LONGVARCHAR},
      receiverPeople = #{record.receiverpeople,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update companypublish
    set id = #{record.id,jdbcType=VARCHAR},
      uid = #{record.uid,jdbcType=INTEGER},
      linkName = #{record.linkname,jdbcType=VARCHAR},
      linkPhone = #{record.linkphone,jdbcType=VARCHAR},
      goodsName = #{record.goodsname,jdbcType=VARCHAR},
      goodsLength = #{record.goodslength,jdbcType=DOUBLE},
      goodsHeight = #{record.goodsheight,jdbcType=DOUBLE},
      goodsWidth = #{record.goodswidth,jdbcType=DOUBLE},
      goodsWeight = #{record.goodsweight,jdbcType=DOUBLE},
      goodsAmount = #{record.goodsamount,jdbcType=INTEGER},
      needType = #{record.needtype,jdbcType=VARCHAR},
      carType = #{record.cartype,jdbcType=VARCHAR},
      fromaddress = #{record.fromaddress,jdbcType=VARCHAR},
      toaddress = #{record.toaddress,jdbcType=VARCHAR},
      loadtime = #{record.loadtime,jdbcType=TIMESTAMP},
      unloadtime = #{record.unloadtime,jdbcType=TIMESTAMP},
      goodsPrice = #{record.goodsprice,jdbcType=DOUBLE},
      accountPrice = #{record.accountprice,jdbcType=DECIMAL},
      assessedPrice = #{record.assessedprice,jdbcType=DOUBLE},
      invoice = #{record.invoice,jdbcType=INTEGER},
      payType = #{record.paytype,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=INTEGER},
      lever = #{record.lever,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pps.suanjiaotyong.pojo.CompanypublishWithBLOBs" >
    update companypublish
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="linkname != null" >
        linkName = #{linkname,jdbcType=VARCHAR},
      </if>
      <if test="linkphone != null" >
        linkPhone = #{linkphone,jdbcType=VARCHAR},
      </if>
      <if test="goodsname != null" >
        goodsName = #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="goodslength != null" >
        goodsLength = #{goodslength,jdbcType=DOUBLE},
      </if>
      <if test="goodsheight != null" >
        goodsHeight = #{goodsheight,jdbcType=DOUBLE},
      </if>
      <if test="goodswidth != null" >
        goodsWidth = #{goodswidth,jdbcType=DOUBLE},
      </if>
      <if test="goodsweight != null" >
        goodsWeight = #{goodsweight,jdbcType=DOUBLE},
      </if>
      <if test="goodsamount != null" >
        goodsAmount = #{goodsamount,jdbcType=INTEGER},
      </if>
      <if test="needtype != null" >
        needType = #{needtype,jdbcType=VARCHAR},
      </if>
      <if test="cartype != null" >
        carType = #{cartype,jdbcType=VARCHAR},
      </if>
      <if test="fromaddress != null" >
        fromaddress = #{fromaddress,jdbcType=VARCHAR},
      </if>
      <if test="toaddress != null" >
        toaddress = #{toaddress,jdbcType=VARCHAR},
      </if>
      <if test="loadtime != null" >
        loadtime = #{loadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="unloadtime != null" >
        unloadtime = #{unloadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsprice != null" >
        goodsPrice = #{goodsprice,jdbcType=DOUBLE},
      </if>
      <if test="accountprice != null" >
        accountPrice = #{accountprice,jdbcType=DECIMAL},
      </if>
      <if test="assessedprice != null" >
        assessedPrice = #{assessedprice,jdbcType=DOUBLE},
      </if>
      <if test="invoice != null" >
        invoice = #{invoice,jdbcType=INTEGER},
      </if>
      <if test="paytype != null" >
        payType = #{paytype,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="lever != null" >
        lever = #{lever,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="receiverpeople != null" >
        receiverPeople = #{receiverpeople,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pps.suanjiaotyong.pojo.CompanypublishWithBLOBs" >
    update companypublish
    set uid = #{uid,jdbcType=INTEGER},
      linkName = #{linkname,jdbcType=VARCHAR},
      linkPhone = #{linkphone,jdbcType=VARCHAR},
      goodsName = #{goodsname,jdbcType=VARCHAR},
      goodsLength = #{goodslength,jdbcType=DOUBLE},
      goodsHeight = #{goodsheight,jdbcType=DOUBLE},
      goodsWidth = #{goodswidth,jdbcType=DOUBLE},
      goodsWeight = #{goodsweight,jdbcType=DOUBLE},
      goodsAmount = #{goodsamount,jdbcType=INTEGER},
      needType = #{needtype,jdbcType=VARCHAR},
      carType = #{cartype,jdbcType=VARCHAR},
      fromaddress = #{fromaddress,jdbcType=VARCHAR},
      toaddress = #{toaddress,jdbcType=VARCHAR},
      loadtime = #{loadtime,jdbcType=TIMESTAMP},
      unloadtime = #{unloadtime,jdbcType=TIMESTAMP},
      goodsPrice = #{goodsprice,jdbcType=DOUBLE},
      accountPrice = #{accountprice,jdbcType=DECIMAL},
      assessedPrice = #{assessedprice,jdbcType=DOUBLE},
      invoice = #{invoice,jdbcType=INTEGER},
      payType = #{paytype,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      lever = #{lever,jdbcType=INTEGER},
      remark = #{remark,jdbcType=LONGVARCHAR},
      receiverPeople = #{receiverpeople,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pps.suanjiaotyong.pojo.Companypublish" >
    update companypublish
    set uid = #{uid,jdbcType=INTEGER},
      linkName = #{linkname,jdbcType=VARCHAR},
      linkPhone = #{linkphone,jdbcType=VARCHAR},
      goodsName = #{goodsname,jdbcType=VARCHAR},
      goodsLength = #{goodslength,jdbcType=DOUBLE},
      goodsHeight = #{goodsheight,jdbcType=DOUBLE},
      goodsWidth = #{goodswidth,jdbcType=DOUBLE},
      goodsWeight = #{goodsweight,jdbcType=DOUBLE},
      goodsAmount = #{goodsamount,jdbcType=INTEGER},
      needType = #{needtype,jdbcType=VARCHAR},
      carType = #{cartype,jdbcType=VARCHAR},
      fromaddress = #{fromaddress,jdbcType=VARCHAR},
      toaddress = #{toaddress,jdbcType=VARCHAR},
      loadtime = #{loadtime,jdbcType=TIMESTAMP},
      unloadtime = #{unloadtime,jdbcType=TIMESTAMP},
      goodsPrice = #{goodsprice,jdbcType=DOUBLE},
      accountPrice = #{accountprice,jdbcType=DECIMAL},
      assessedPrice = #{assessedprice,jdbcType=DOUBLE},
      invoice = #{invoice,jdbcType=INTEGER},
      payType = #{paytype,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      lever = #{lever,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>