<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pps.suanjiaotyong.mapper.DriverpublishMapper" >
  <resultMap id="BaseResultMap" type="com.pps.suanjiaotyong.pojo.Driverpublish" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="linkName" property="linkname" jdbcType="VARCHAR" />
    <result column="linkPhone" property="linkphone" jdbcType="VARCHAR" />
    <result column="carLength" property="carlength" jdbcType="DOUBLE" />
    <result column="carWidth" property="carwidth" jdbcType="DOUBLE" />
    <result column="carHeight" property="carheight" jdbcType="DOUBLE" />
    <result column="carWeight" property="carweight" jdbcType="DOUBLE" />
    <result column="needType" property="needtype" jdbcType="VARCHAR" />
    <result column="carType" property="cartype" jdbcType="VARCHAR" />
    <result column="fromAddress" property="fromaddress" jdbcType="VARCHAR" />
    <result column="toAddress" property="toaddress" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="route" property="route" jdbcType="VARCHAR" />
    <result column="loadTime" property="loadtime" jdbcType="TIMESTAMP" />
    <result column="unLoadTime" property="unloadtime" jdbcType="TIMESTAMP" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="lever" property="lever" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, uid, linkName, linkPhone, carLength, carWidth, carHeight, carWeight, needType, 
    carType, fromAddress, toAddress, price, route, loadTime, unLoadTime, createTime, 
    status, lever
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pps.suanjiaotyong.pojo.DriverpublishExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from driverpublish
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from driverpublish
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from driverpublish
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pps.suanjiaotyong.pojo.DriverpublishExample" >
    delete from driverpublish
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pps.suanjiaotyong.pojo.Driverpublish" >
    insert into driverpublish (id, uid, linkName, 
      linkPhone, carLength, carWidth, 
      carHeight, carWeight, needType, 
      carType, fromAddress, toAddress, 
      price, route, loadTime, 
      unLoadTime, createTime, status, 
      lever)
    values (#{id,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER}, #{linkname,jdbcType=VARCHAR}, 
      #{linkphone,jdbcType=VARCHAR}, #{carlength,jdbcType=DOUBLE}, #{carwidth,jdbcType=DOUBLE}, 
      #{carheight,jdbcType=DOUBLE}, #{carweight,jdbcType=DOUBLE}, #{needtype,jdbcType=VARCHAR}, 
      #{cartype,jdbcType=VARCHAR}, #{fromaddress,jdbcType=VARCHAR}, #{toaddress,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{route,jdbcType=VARCHAR}, #{loadtime,jdbcType=TIMESTAMP}, 
      #{unloadtime,jdbcType=TIMESTAMP}, #{createtime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, 
      #{lever,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pps.suanjiaotyong.pojo.Driverpublish" >
    insert into driverpublish
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="linkname != null" >
        linkName,
      </if>
      <if test="linkphone != null" >
        linkPhone,
      </if>
      <if test="carlength != null" >
        carLength,
      </if>
      <if test="carwidth != null" >
        carWidth,
      </if>
      <if test="carheight != null" >
        carHeight,
      </if>
      <if test="carweight != null" >
        carWeight,
      </if>
      <if test="needtype != null" >
        needType,
      </if>
      <if test="cartype != null" >
        carType,
      </if>
      <if test="fromaddress != null" >
        fromAddress,
      </if>
      <if test="toaddress != null" >
        toAddress,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="route != null" >
        route,
      </if>
      <if test="loadtime != null" >
        loadTime,
      </if>
      <if test="unloadtime != null" >
        unLoadTime,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="lever != null" >
        lever,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="linkname != null" >
        #{linkname,jdbcType=VARCHAR},
      </if>
      <if test="linkphone != null" >
        #{linkphone,jdbcType=VARCHAR},
      </if>
      <if test="carlength != null" >
        #{carlength,jdbcType=DOUBLE},
      </if>
      <if test="carwidth != null" >
        #{carwidth,jdbcType=DOUBLE},
      </if>
      <if test="carheight != null" >
        #{carheight,jdbcType=DOUBLE},
      </if>
      <if test="carweight != null" >
        #{carweight,jdbcType=DOUBLE},
      </if>
      <if test="needtype != null" >
        #{needtype,jdbcType=VARCHAR},
      </if>
      <if test="cartype != null" >
        #{cartype,jdbcType=VARCHAR},
      </if>
      <if test="fromaddress != null" >
        #{fromaddress,jdbcType=VARCHAR},
      </if>
      <if test="toaddress != null" >
        #{toaddress,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="route != null" >
        #{route,jdbcType=VARCHAR},
      </if>
      <if test="loadtime != null" >
        #{loadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="unloadtime != null" >
        #{unloadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="lever != null" >
        #{lever,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pps.suanjiaotyong.pojo.DriverpublishExample" resultType="java.lang.Integer" >
    select count(*) from driverpublish
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update driverpublish
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.linkname != null" >
        linkName = #{record.linkname,jdbcType=VARCHAR},
      </if>
      <if test="record.linkphone != null" >
        linkPhone = #{record.linkphone,jdbcType=VARCHAR},
      </if>
      <if test="record.carlength != null" >
        carLength = #{record.carlength,jdbcType=DOUBLE},
      </if>
      <if test="record.carwidth != null" >
        carWidth = #{record.carwidth,jdbcType=DOUBLE},
      </if>
      <if test="record.carheight != null" >
        carHeight = #{record.carheight,jdbcType=DOUBLE},
      </if>
      <if test="record.carweight != null" >
        carWeight = #{record.carweight,jdbcType=DOUBLE},
      </if>
      <if test="record.needtype != null" >
        needType = #{record.needtype,jdbcType=VARCHAR},
      </if>
      <if test="record.cartype != null" >
        carType = #{record.cartype,jdbcType=VARCHAR},
      </if>
      <if test="record.fromaddress != null" >
        fromAddress = #{record.fromaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.toaddress != null" >
        toAddress = #{record.toaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.route != null" >
        route = #{record.route,jdbcType=VARCHAR},
      </if>
      <if test="record.loadtime != null" >
        loadTime = #{record.loadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.unloadtime != null" >
        unLoadTime = #{record.unloadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.lever != null" >
        lever = #{record.lever,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update driverpublish
    set id = #{record.id,jdbcType=VARCHAR},
      uid = #{record.uid,jdbcType=INTEGER},
      linkName = #{record.linkname,jdbcType=VARCHAR},
      linkPhone = #{record.linkphone,jdbcType=VARCHAR},
      carLength = #{record.carlength,jdbcType=DOUBLE},
      carWidth = #{record.carwidth,jdbcType=DOUBLE},
      carHeight = #{record.carheight,jdbcType=DOUBLE},
      carWeight = #{record.carweight,jdbcType=DOUBLE},
      needType = #{record.needtype,jdbcType=VARCHAR},
      carType = #{record.cartype,jdbcType=VARCHAR},
      fromAddress = #{record.fromaddress,jdbcType=VARCHAR},
      toAddress = #{record.toaddress,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      route = #{record.route,jdbcType=VARCHAR},
      loadTime = #{record.loadtime,jdbcType=TIMESTAMP},
      unLoadTime = #{record.unloadtime,jdbcType=TIMESTAMP},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=INTEGER},
      lever = #{record.lever,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pps.suanjiaotyong.pojo.Driverpublish" >
    update driverpublish
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="linkname != null" >
        linkName = #{linkname,jdbcType=VARCHAR},
      </if>
      <if test="linkphone != null" >
        linkPhone = #{linkphone,jdbcType=VARCHAR},
      </if>
      <if test="carlength != null" >
        carLength = #{carlength,jdbcType=DOUBLE},
      </if>
      <if test="carwidth != null" >
        carWidth = #{carwidth,jdbcType=DOUBLE},
      </if>
      <if test="carheight != null" >
        carHeight = #{carheight,jdbcType=DOUBLE},
      </if>
      <if test="carweight != null" >
        carWeight = #{carweight,jdbcType=DOUBLE},
      </if>
      <if test="needtype != null" >
        needType = #{needtype,jdbcType=VARCHAR},
      </if>
      <if test="cartype != null" >
        carType = #{cartype,jdbcType=VARCHAR},
      </if>
      <if test="fromaddress != null" >
        fromAddress = #{fromaddress,jdbcType=VARCHAR},
      </if>
      <if test="toaddress != null" >
        toAddress = #{toaddress,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="route != null" >
        route = #{route,jdbcType=VARCHAR},
      </if>
      <if test="loadtime != null" >
        loadTime = #{loadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="unloadtime != null" >
        unLoadTime = #{unloadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="lever != null" >
        lever = #{lever,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pps.suanjiaotyong.pojo.Driverpublish" >
    update driverpublish
    set uid = #{uid,jdbcType=INTEGER},
      linkName = #{linkname,jdbcType=VARCHAR},
      linkPhone = #{linkphone,jdbcType=VARCHAR},
      carLength = #{carlength,jdbcType=DOUBLE},
      carWidth = #{carwidth,jdbcType=DOUBLE},
      carHeight = #{carheight,jdbcType=DOUBLE},
      carWeight = #{carweight,jdbcType=DOUBLE},
      needType = #{needtype,jdbcType=VARCHAR},
      carType = #{cartype,jdbcType=VARCHAR},
      fromAddress = #{fromaddress,jdbcType=VARCHAR},
      toAddress = #{toaddress,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      route = #{route,jdbcType=VARCHAR},
      loadTime = #{loadtime,jdbcType=TIMESTAMP},
      unLoadTime = #{unloadtime,jdbcType=TIMESTAMP},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      lever = #{lever,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>