/*********************************
   CUSTOM INPUT FILES FOR IMAGES
 *********************************/
/*** GENERAL STYLES ***/
.superlink a {
	text-decoration: none;
	color: #fff;
}
.consignee{
	display: none;
}

table {
	width: 80%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

tr th {
	text-align: center;
	/* border: 1px solid #999999; */
	height: 60px;
	font-size: 18px;
	width: auto;
}

.stick {
	text-align: left;
}

.stick1 {
	text-align: end;
}

#settle {
	display: none;
	width: 100%;
	border-top: 1px solid #d8e0e6;
	height: 250px;
}

.receipthide1 {
	display: none;
}

.receipthide2 {
	display: none;
}

.receipthide3 {
	display: none;
}

.receipthide4 {
	display: none;
}

.receipt {
	background-color: white;
	border-radius: 10px;
	border-radius: 10px;
	padding: 0 0 0 0;

}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#page {
	text-align: center;
}

/*** CUSTOM FILE INPUT STYE ***/
.wrap-custom-file {
	position: relative;
	display: inline-block;
	width: 150px;
	height: 150px;
	margin: 0 0.5rem 1rem;
	text-align: center;
}

.wrap-custom-file input[type="file"] {
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 2px;
	overflow: hidden;
	opacity: 0;
}

.wrap-custom-file label {
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	overflow: hidden;
	padding: 0 0.5rem;
	cursor: pointer;
	background-color: dimgrey;
	border-radius: 4px;
	-webkit-transition: -webkit-transform 0.4s;
	transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	transition: transform 0.4s, -webkit-transform 0.4s;
}

.wrap-custom-file label span {
	display: block;
	margin-top: 2rem;
	font-size: 1.4rem;
	color: #fff;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
}

.wrap-custom-file label .fa {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	-webkit-transform: translatex(-50%);
	transform: translatex(-50%);
	font-size: 1.5rem;
	color: lightcoral;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
}

.wrap-custom-file label:hover {
	-webkit-transform: translateY(-1rem);
	transform: translateY(-1rem);
}

.wrap-custom-file label:hover span,
.wrap-custom-file label:hover .fa {
	color: #333;
}

.wrap-custom-file label.file-ok {
	background-size: cover;
	background-position: center;
}

.wrap-custom-file label.file-ok span {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0.3rem;
	font-size: 1.1rem;
	color: #000;
	background-color: rgba(255, 255, 255, 0.7);
}

.wrap-custom-file label.file-ok .fa {
	display: none;
}

body {
	background-color: #ededed;
}

* {
	margin: 0;
	padding: 0;
}

.head {
	width: 100%;
	height: 100px;
	background-color: red;
}

.passload {
	width: 100%;
	height: 150px;
	background-color: lightgrey;
}

.register {
	background-color: white;
	border-top-color: green;
	/* height: 900px; */
}

.order {
	background-color: white;
	border-top-color: green;
	/* height: 900px; */
}

.register1 {
	border-top: 1px solid orangered;
	height: 300px;
}

.order1 {
	border-top: 1px solid lightslategrey;
	height: 50px;

}

.starting {
	height: 40px;
	align-content: center;
	margin-top: 100px;
	font-size: 20px;
	text-decoration: blink;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}

.destination {
	height: 40px;
	align-content: center;
	margin-top: 20px;
	font-size: 20px;
	text-decoration: blink;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}

#hide1 {
	display: none;
}

#hide2 {
	display: none;
}

#hide3 {
	display: none;
}

#hide4 {
	display: none;
}

.register2 {
	border-top: 1px solid limegreen;
	height: auto;
}

.register3 {
	border-top: 1px solid skyblue;
	/* height: 300px; */
}

.dliver {
	width: 100%;
	height: 50px;
}

.tips4 {
	width: 10%;
	height: 40px;
	background-color: #999999;
	border-radius: 0px 0px 15px 15px;
}

.tips1 {
	width: 25%;
	height: 100%;
	background-color: orangered;
	border-radius: 0 0 15px 15px;
}

.tips5 {
	width: 100%;
	height: 100%;
	background-color: orangered;
}

.order .tips1 {
	width: 25%;
	height: 100%;
	background-color: lightslategrey;
	border-radius: 0 0 15px 15px;
}

.dliverreceipt .tips1 {
	width: 100%;
	height: 50px;
	background-color: red;
	border-radius: 10px 10px 0 0;
}


.tips2 {
	width: 25%;
	height: 100%;
	background-color: limegreen;
	border-radius: 0 0 15px 15px;
}

.tips3 {
	width: 25%;
	height: 100%;
	background-color: skyblue;
	border-radius: 0 0 15px 15px;

	/* .practice {
		font-size: 10px;
		display: none;
	} */

	.superlink a {
		text-decoration: none;
		color: #fff;
	}

	.receipt {
		background-color: white;
		height: 300px;
		border-radius: 10px;

	}

	.dliverreceipt {
		width: 100%;
		height: 50px;
		border-radius: 10px 10px 0 0;
	}

	.orderlist {
		height: 500px;
		background-color: royalblue;
		width: 100%;

	}
