/*********************************
   CUSTOM INPUT FILES FOR IMAGES
 *********************************/
/*** GENERAL STYLES ***/
.superlink a{
		text-decoration: none;
		color: #fff;
}
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#page {
	text-align: center;
}

/*** CUSTOM FILE INPUT STYE ***/
.wrap-custom-file {
	position: relative;
	display: inline-block;
	width: 150px;
	height: 150px;
	margin: 0 0.5rem 1rem;
	text-align: center;
}

.wrap-custom-file input[type="file"] {
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 2px;
	overflow: hidden;
	opacity: 0;
}

.wrap-custom-file label {
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	overflow: hidden;
	padding: 0 0.5rem;
	cursor: pointer;
	background-color: dimgrey;
	border-radius: 4px;
	-webkit-transition: -webkit-transform 0.4s;
	transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	transition: transform 0.4s, -webkit-transform 0.4s;
}

.wrap-custom-file label span {
	display: block;
	margin-top: 2rem;
	font-size: 1.4rem;
	color: #fff;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
}

.wrap-custom-file label .fa {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	-webkit-transform: translatex(-50%);
	transform: translatex(-50%);
	font-size: 1.5rem;
	color: lightcoral;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
}

.wrap-custom-file label:hover {
	-webkit-transform: translateY(-1rem);
	transform: translateY(-1rem);
}

.wrap-custom-file label:hover span,
.wrap-custom-file label:hover .fa {
	color: #333;
}

.wrap-custom-file label.file-ok {
	background-size: cover;
	background-position: center;
}

.wrap-custom-file label.file-ok span {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0.3rem;
	font-size: 1.1rem;
	color: #000;
	background-color: rgba(255, 255, 255, 0.7);
}

.wrap-custom-file label.file-ok .fa {
	display: none;
}

body {
	background-color: #ededed;
}

* {
	margin: 0;
	padding: 0;
}

.head {
	width: 100%;
	height: 100px;
	background-color: red;
}

.passload {
	width: 100%;
	height: 150px;
	background-color: lightgrey;
}

.register {
	background-color: white;
	border-top-color: green;
	height: 900px;
}

.register1 {
	border-top: 1px solid orangered;
	height: 300px;
}

.register2 {
	border-top: 1px solid limegreen;
	height: 300px;
}

.register3 {
	border-top: 1px solid skyblue;
	height: 300px;
}
.dliver {
	width: 100%;
	height: 50px;
}

.tips1 {
	width: 25%;
	height: 100%;
	background-color: orangered;
	border-radius: 0 0 15px 15px;
}

.tips2 {
	width: 25%;
	height: 100%;
	background-color: limegreen;
	border-radius: 0 0 15px 15px;
}

.tips3 {
	width: 25%;
	height: 100%;
	background-color: skyblue;
	border-radius: 0 0 15px 15px;

.practice {
		font-size: 10px;
		display: none;
		}
.superlink a{
		text-decoration: none;
		color: #fff;
}